$mineshaft1: #ededed !default; //extra light gray
$mineshaft2: #c6c6c6 !default; //light gray
$mineshaft3: #7F7F7F !default; //gray
$mineshaft4: #454545 !default; //dark gray

// <!-- Background color for `<body>`. -->
$body-bg: #fafafa !default;
// <!-- Global text color on `<body>`. -->
$text-color: $mineshaft4 !default;

// <!-- Global text link color. -->
$link-color: $mineshaft4 !default;

// <!-- Link hover color -->
$link-hover-color: #55a5db !default;

/* <!-- Typography
Font, line-height, and color for body text, headings, and more. --> */

$font-family-sans-serif: 'Open Sans', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 0.875 !default; //~14px
$font-size-large: 1 !default; //~16px
$font-size-small: 0.857 !default; //~12px

$font-size-h1: 1.625 !default; //~26px
$line-height-h1: 1.75 !default; //~28px
$font-size-h2: 1.3125 !default; //~21px
$line-height-h2: 1.437 !default; //~23px
$font-size-h3: 1.125 !default; //~18px
$line-height-h3: 1.25 !default; //~20px
$font-size-h4: 1 !default; //~16px
$line-height-h4: 1.125 !default; //~18px
$font-size-h5: 0.875 !default; //~14px
$line-height-h5: 1 !default; //~16px
$font-size-h6: 0.857 !default; //~12px
$line-height-h6: 0.875 !default; //~14px